*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background: transparent;
}

body{
    font-family: 'Josefin Sans';
    font-size: 1em;
}

    /* -------------------- */
        /* Styling Menu In The Header Section */
nav.nav{
    background-color: #dee2e6d1;
    box-shadow: 2px 5px 15px #CED4DA;
}

.menu-link{
    color: #212529;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.menu-link:hover{
    text-shadow: 0 5px 20px #212529db;
}
.menu-link::before{
    content: '';
    background-color: #252422;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: transform 0.5s ;
    -moz-transition: transform 0.5s ;
    -ms-transition: transform 0.5s ;
    -o-transition: transform 0.5s ;
}
.menu-link:hover::before{
    transform: scaleX(1);
    transform-origin: left;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}



    /* -------------------- */
        /* Styling Introduction Section */

.info h3{
    font-family: 'poppins', sans-serif;
    line-height: 1.8;
}

.info form input[type = email]{
    color: #284b63;
    border: 1px solid #21252923;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.info form input[type = email]::placeholder{
    color: #25242250;
}
.info form input[type = email]:focus{
    box-shadow: 3px 7px 20px #CED4DA;
    border: 1px solid transparent;
}


    /* -------------------- */
        /* Styling Productive Section */
.section-1{
    margin-top: 30px;
}
.section-1 .info-box{
    padding-top: 30px;
    background-color: #F8F8FE;
}
.section-1 .info-box .txt-info{
    width: 60%;
    margin-top: 30px;
}
.info-box .txt-info h3{
    font-family: 'poppins';
    word-spacing: 4px;
}
.txt-info p.ti-disc-1{
    margin-top: 40px;
}

.txt-info .card{
    border: none;
    width: 25em;
    background-color: #f8f9fad4;
}
.card .c-img .ci-info{
    font-family: 'poppins', sans-serif;
    font-size: 0.7em;
}

.info-box .img-info{
    width: 40%;
}


    /* -------------------- */
        /* Styling The Access Section */
.access-box{
    padding: 100px 0;
    background-color: #003459dc;
}
.access-box .accbox-txt h3{
    font-family: 'poppins', sans-serif;
}
.accbox-form input[type = email]{
    color: #284b63;
}
.accbox-form input[type = email]:focus{
    box-shadow: 3px 7px 20px #adb5bd;
    border: 1px solid transparent;
}
.accbox-form input[type = email]::placeholder{
    color: #25242250;
}

    /* -------------------- */
        /* Styling The Footer Section */
footer{
    background-color: #070439;
}

        /* Add Animation To The Links In The Footer  */
footer li > a{
    color: #F6f6fe;
}
footer li > a:hover{
    color: #3162f7c9;
}
footer li > a::before{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #3162f7c9;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: right;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}
footer li > a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}

.cf-box-social a{
    border: 3px solid #F6f6fe;
}

    /* -------------------- */
        /* Styling The Footer Section */
.link-top{
    width: 3em;
    height: 3em;
    bottom: 0;
    right: 5em;
    z-index: 10;
    opacity: 0;
    position: fixed;
    user-select: none;
    color: #f8f9fa;
    background: #212529;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.link-top:hover{
    background: #f8f9fa;
    color: #212529;
    box-shadow: 5px 5px 20px #070439;
}

        /* Js Code For Show Button To Top */
.link-top.act{
    opacity: 1;
    bottom: 3em;
}