*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background: transparent;
}

body{
    font-family: 'Josefin Sans';
    font-size: 1em;
}

    /* -------------------- */
        /* Styling Menu In The Header Section */
nav.nav{
    background-color: #dee2e6d1;
    box-shadow: 2px 5px 15px #CED4DA;
}

.menu-link{
    color: #212529;
    font-weight: 600;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.menu-link:hover{
    text-shadow: 0 5px 20px #212529db;
}
.menu-link::before{
    content: '';
    background-color: #252422;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: transform 0.5s ;
    -moz-transition: transform 0.5s ;
    -ms-transition: transform 0.5s ;
    -o-transition: transform 0.5s ;
}
.menu-link:hover::before{
    transform: scaleX(1);
    transform-origin: left;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}



    /* -------------------- */
        /* Styling Introduction Section */
.info h3,
.info p{
    width: 75%;
}

.info h3{
    font-family: 'poppins', sans-serif;
    line-height: 1.8;
}

.info form input[type = text]{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.info form input[type = text]::placeholder{
    color: #25242250;
}
.info form input[type = text]:focus{
    box-shadow: 2px 5px 15px #CED4DA;
    border: transparent;
}


    /* -------------------- */
        /* Styling Productive Section */
.section-1{
    margin-top: 30px;
}
.section-1 .info-box{
    padding-top: 30px;
    background-color: #F8F8FE;
}
.section-1 .info-box .txt-info{
    width: 60%;
    margin-top: 30px;
    /* background-color: #caf0f8b3; */
}
.info-box .txt-info h3{
    font-family: 'poppins';
    word-spacing: 4px;
}
.txt-info p.ti-disc-1{
    margin-top: 40px;
    /* background-color: blueviolet; */
}

.txt-info .card{
    border: none;
    background-color: #f8f9fad4;
}
.card .c-img .ci-info{
    font-family: 'poppins';
    font-size: 0.7em;
}

.info-box .img-info{
    width: 40%;
}


    /* -------------------- */
        /* Styling The Access Section */
.access-box{
    padding: 100px 0;
    background-color: #003459dc;
}
.access-box .accbox-txt h3{
    font-family: 'poppins';
}
.accbox-form input[type = email]:focus{
    box-shadow: 3px 5px 10px #ced4da;
    border: none;
}
.accbox-form input[type = email]::placeholder{
    color: #25242250;
}